@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #8996a3;
  --sh-property: #0550ae;
  --sh-entity: #249a97;
  --sh-jsxliterals: #6266d1;
  --sh-string: #00a99a;
  --sh-keyword: #f47067;
  --sh-comment: #a19595;
}

.dark {
  --sh-class: #4c9aff;
  --sh-identifier: #d4d4d8;
  --sh-sign: #a1a1aa;
  --sh-property: #60a5fa;
  --sh-entity: #34d399;
  --sh-jsxliterals: #a78bfa;
  --sh-string: #2dd4bf;
  --sh-keyword: #f87171;
  --sh-comment: #71717a;
}

@layer base {
  html {
    @apply bg-zinc-50 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50;
  }

  body {
    @apply bg-zinc-50 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50;
  }

  article > h1 {
    @apply text-3xl text-zinc-950 dark:text-zinc-50 font-bold my-6;
  }

  article > h2 {
    @apply text-2xl text-zinc-950 dark:text-zinc-50 font-bold my-6 tracking-wide mt-12;
  }

  article > h3 {
    @apply text-xl text-zinc-950 dark:text-zinc-50 font-bold my-6;
  }

  article > h4 {
    @apply text-lg text-zinc-950 dark:text-zinc-50 font-bold my-6;
  }

  article > h5 {
    @apply text-lg text-zinc-950 dark:text-zinc-50 font-bold my-6;
  }

  article > h6 {
    @apply text-base text-zinc-950 dark:text-zinc-50 font-bold my-6;
  }

  article p {
    @apply text-zinc-700 dark:text-zinc-300 my-4 leading-relaxed;
  }

  article ul,
  article ol {
    @apply text-zinc-700 dark:text-zinc-300 my-4 pl-8;
  }

  article li {
    @apply mb-2;
  }

  article ul {
    @apply list-disc;
  }

  article ol {
    @apply list-decimal;
  }

  article blockquote {
    @apply border-l-4 border-emerald-600 dark:border-emerald-400 pl-4 my-4;
  }

  article :not(pre) > code {
    @apply rounded ring-1 ring-zinc-950 dark:ring-zinc-100 px-1.5 py-0.5 mx-0.5 text-sm select-all text-nowrap;
  }

  article pre {
    @apply ring-1 ring-zinc-950 dark:ring-zinc-100 p-4 my-4 overflow-x-auto text-sm;
  }

  header a,
  article a {
    @apply underline underline-offset-2 decoration-2 decoration-emerald-600 dark:decoration-emerald-400;
  }

  button,
  a {
    @apply active:translate-y-1 transition-all;
  }
}
